@import './bootstrap.css';
@import './font-awesome.min.css';
@import './owl.carousel.css';
@import './linearicons.css';
@import './jquery-ui.css';
@import './main.css';
@import './magnific-popup.css';
@import './nice-select.css';
@import './animate.min.css';
@import 'tailwindcss';
